@import url("https://use.typekit.net/yms6tdk.css");

body {
  background-color: #080010;
  font-family: input-mono, monospace;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color:#433855;
  font-size: 10px;
  text-decoration: none;
  border-bottom: 1px solid #372D47;
}

h1 {
  color: #DFDAE8;
  font-family: supria-sans, sans-serif;
  font-size: 28px;
  margin: 0;
}

h2 {
  color: #DFDAE8;
  font-family: supria-sans, sans-serif;
  font-size: 16px;
  margin: 0;
}

h3 {
  color: #DFDAE8;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  line-height: 17px;
}

p {
  color:#433855;
  font-size: 10px;
  margin: 0;
}



.left-bar {
  height: 100%;
  width: 220px;
  left: 0;
  margin-left: 40px;
  top: 0;
  position: absolute;
}

.logo {
  padding-top: 40px;
}

.gq {
  background-color: #140D20;
  margin-top: 40px;
  width: 228px;
  height: 300px;
  border-radius: 20px;
  position: relative;
  margin-left: -4px;
}

.quest {
  padding: 20px;
  width: 180px;
  position: absolute;
  height: 200px;
}

.raiced {
  color: #FFFFFF;
  height: 40px;
  width: 86px;
  background: #7125FF;
  font-family: supria-sans, sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 12px 0 rgba(92,5,255,0.48);
  border-radius: 12px;
  border: none;
  bottom: 0;
  margin: 0px 0px 20px 20px;
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
}

.raiced:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 24px 0 rgba(92,5,255,0.56);
}

.flat {
  color: #FFFFFF;
  height: 40px;
  width: 86px;
  background: #251938;
  font-family: supria-sans, sans-serif;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  bottom: 0;
  right: 0;
  margin: 0px 20px 20px 0px;
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
}

.flat:hover {
  background: #2A1E3F;
  transform: translateY(-2px);
}

.about {
  margin-top: 48px;
  width: 220px;
}

.about p {
  color: #433855;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  margin-top: 15px;
}

p.copyright {
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  margin-top: 24px;
}

.feedback {
  width: 220px;
  bottom: 0;
  position: absolute;
  margin-bottom: 40px;
}

.star, .feedText {
  display: inline;
}

.feedText {
  color: #DFDAE8;
  font-size: 10px;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 4px;
  position: absolute;
}

.feedback a {
  border: none;
}




.right-bar {
  width: 220px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  margin-right: 40px;
}

.calendar {
  margin-top: 40px;
}

.days {
 padding: 0;
 margin: 0;
 margin-top: 15px;
 margin-left: -6px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  margin-bottom: 18px;
  text-align: center;
  font-size: 12px;
  color: #DFDAE8;
  position: relative;
}

.days li .active {
  border-radius: 50%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 8px;
  padding-right: 8px;
  background: #7125FF;
  color: white !important;
}

.medal {
  background: #7125FF;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  position: absolute;
  left: 44%;
  margin-top: 1px;
}

.days li .old-new {
  color: #433855;
}

.loader {
  width: 220px;
  height: 4px;
  background: #251C33;
  border-radius: 2px;
  padding-bottom: 1px;
}

.loaderActive {
  width: 100px;
  height: 4px;
  background: #7125FF;
  border-radius: 2px;
}

.goal {
  margin-top: 55px;
}

.goalDays {
  margin-bottom: 16px;
}

.changeGoal, .count {
  display: inline;
}

.changeGoal {
  position: relative;
}

.count {
  right: 0;
  position: absolute;
  margin-top: 6px;
}

.counter {
  margin-top: 8px;
}

.long {
  margin-top: 43px;
}

.path {
  padding-bottom: 11px;
}

.total {
  margin-top: 44px;
}

.totalCount {
  padding-bottom: 5px;
}










